.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  min-height: 100px;
  background-color: rgb(4, 66, 15);
}

.ratesList {
  display: flex;
  margin: 0 auto;
  gap: 50px;
  color: #fff;
}
li {
}
